.navBtn{
	color: black;
}

.navBtnActive{
	color:white;
	background-color: black;
}

.nav{
	@apply flex flex-row bg-white items-center content-between;
}

.navbuttons{
	@apply mx-auto flex space-x-5;
}

.logo{
	@apply ml-5 w-32 md:w-48;
}

.login{
	@apply no-underline text-xl text-black px-3 py-2;
}

.signup{
	@apply no-underline text-xl text-white px-3 py-2 bg-red-500 rounded-md;
}

.container{
	@apply max-w-screen-lg mx-auto h-full bg-red-400;
}